<br/>
<input type="button" value="Add User" class="btn btn-danger" routerLink="/adduser" />
<hr>
<div *ngIf="users && users.length>0;else nousers;">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">User Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Website</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td><a [routerLink]="['/user',user.id]"> {{user.id}} </a></td>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.website}}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <pre>
        {{users | json}}
    </pre>

</div>
<ng-template #nousers>
    <p class="alert alert-danger text-center">{{errorMessage}}</p>
</ng-template>
<!-- <div *ngIf="!users || users.length === 0">
    No users available.
</div> -->


