<div class="row">
    <div class="col-md-6">
        <app-product-widget [products]="salesProducts">
            <h3 class="header" #head>Up to 70% off|Electronics clearance Store.</h3>
            <p #head2>Offer valid today only...</p>
            <p #head2>be fast...</p>
            <a href="#" class="link">Visit store...</a>
        </app-product-widget>
    </div>    
    <div class="col-md-6">
        <app-product-widget [products]="topProducts">
            <h3 class="header">Top picks for the day.........</h3>
            <a href="#" class="link">See more...</a>
        </app-product-widget>
    </div>   
</div>